################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/migracion_datos/funciones-y-procedimientos - copia.sql
/data-scripts/resultado_output.txt
/data/dropeos/resultado_output.txt
/ClinicaFrba/ClinicaFrba/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ClinicaFrba/ClinicaFrba/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ClinicaFrba/ClinicaFrba/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ClinicaFrba/ClinicaFrba/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ClinicaFrba/ClinicaFrba/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.Properties.Resources.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.Pedir_Turno.PedirTurno.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.pdb
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.Home.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.exe
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.Estadisticas.Estadisticas.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csprojResolveAssemblyReference.cache
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.GenerateResource.Cache
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.Compra_Bono.CompraBono.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.CancelarTurno.CancelarTurnoProfesional.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.CancelarTurno.CancelarTurnoAfiliado.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.AtencionesMedicas.RegistrarResultado.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.AtencionesMedicas.RegistrarLlegada.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.AgendaMedico.AgendaMedico.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.Abm_Afiliado.IdentificarAfiliado.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.Abm_Afiliado.ABM_AFILIADO.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.AbmRol.ModificarRol.resources
/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.AbmRol.CrearRol.resources
/ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.vshost.exe.manifest
/ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.vshost.exe.config
/ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.vshost.exe
/ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.pdb
/ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.exe.config
/ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.exe
/ClinicaFrba/.vs/ClinicaFrba/v14/.suo
